<web-app>

	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>

			C:\Users\nabri\Documents\jad-ca1\src\main\webapp\uploaded_images\
		</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>